seed: 2025

deice_gpu: 0
save: 0

train:
  dataset: cocostuff
  batchsize: 1
  sample: 20
  text_model: llama_unmean # llama_unmean, mpnet_unmean
  type: patch_unmean # patch, patch_unmean

knngraph:
  k: 300
  metric_knn: ip # 'ip', 'L2'
  metric_laplacian: none # 'none', 'sym', 'rw'

laplacian_mat:
  k: 100 # K eigenvectors for using in decomposition

anchor:
  n_anchors: 300
  cls_anchors: 2
  metric: ip # 'L2' or 'ip'

validation:
  dataset: cocostuff
  text_model: llama # llama, mpnet
  type: patch

fmap: 
  type: anchor # anchor, raw, train
  method: LFMtrans # LFMtrans, EOT


