seed: 2025

deice_gpu: 0
save: 0

train:
  dataset: cocostuff
  batchsize: 1
  sample: 20
  text_model: llama_unmean # llama_unmean, mpnet_unmean
  type: patch_unmean # patch, patch_unmean

knngraph:
  k: 50
  metric_knn: ip # 'ip', 'L2'
  metric_laplacian: sym # 'none', 'sym', 'rw'

laplacian_mat:
  k: 150 # K eigenvectors for using in decomposition

anchor:
  n_anchors: 50
  cls_anchors: 2
  metric: ip # 'L2' or 'ip'

validation:
  dataset: cocostuff
  text_model: llama # llama, mpnet
  type: patch

fmap: 
  type: Ip_and_L2 # anchor, Ip_and_L2, train
  method: LFMtrans # LFMtrans, EOT


